$sfeir-blue = #094369
$sfeir-orange = #E15514
$sfeir-font = Montserrat

$slide-width = 2000px
$slide-height = 1125px

$family-sans-serif = $sfeir-font, Nunito, sans-serif
$family-monospace = Inconsolata, monospace

$weight-thin = 200
$weight-light = 300
$weight-normal = 400
$weight-semibold = 600
$weight-bold = 700

$c-black = #000
$c-black-bis = #191919
$c-white = #fff
$c-white-bis = #fafafa

$c-pri = #ed124b
$c-pri-neg = $c-white

$text = $sfeir-blue
$color-accent = $sfeir-orange
$color-accent-red = #094369
$color-accent-pink = #14aae1
$color-progress-bar = $sfeir-orange
$color-muted = #666
$color-inverse = #fff
